html,
body {
  height: 100%;
  margin: 0;
  color: #333;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

.img-container {
  width: 30vw;
  flex-grow: 1;
  position: relative;
  width: 40vw;
  min-width: 350px;
  height: 100vh;
  background: url(images/jackson-hendry-oN-6Mx1xp7c-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0px 10px 5px -5px lightgray;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.form-container p {
  width: 100%;
}

* {
  box-sizing: border-box;
}

button,
label,
input {
  display: block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
}

.content-container {
  width: 60vw;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(244, 243, 243);
}

.user-field {
  width: 40%;
  padding: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  margin-right: 10px;
}

.header-container {
  padding-right: 50px;
  padding-bottom: 20px;
}

.left {
  padding-left: 30px;
}

.big-text {
  font-size: 18px;
  font-weight: bold;
}

.small-text {
  font-size: 12px;
  font-weight: 600;
}

.submit-button {
  width: 200px;
  height: auto;
  margin: 30px;
  border: none; /* Remove border to ensure consistent padding */
  border-radius: 10px;
  padding: 15px; /* Adjust padding as needed */
  font-size: 16px; /*Adjust font size as needed*/
  background-color: #3498db; /* Add background color for better visibility */
  color: #fff; /* Set text color to white */
  cursor: pointer; /* Add pointer cursor for better user experience */
}

.background-image {
  object-fit: fill;
  height: 100vh;
}

input + span {
  position: relative;
}

input:required + span::after {
  font-size: 0.5rem;
  position: absolute;
  padding: 5px 10px;
  top: -26px;
  left: -70px;
  color: white;
  background-color: black;
  content: "Required";
}

input + span::before {
  position: absolute;
  right: -20px;
  top: 5px;
}

input:invalid {
  border: 2px solid red;
}

input:invalid + span::before {
  content: "✖";
  color: red;
}

input:valid + span::before {
  content: "✓";
  color: green;
}

input[type="email"]:invalid + span::after {
  font-size: 0.5rem;
  position: absolute;
  padding: 2px 5px;
  top: -22px;
  left: -125px;
  color: white;
  background-color: black;
  content: "format: abc@mail.com";
}

input:hover,
input:focus {
  background-color: #eee;
}
